* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    position: relative;
}
.outer {
    width: 120px;
    height: 120px;
    border: 14px solid #E7E7E8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percentage {
    font-size: 28px;
    font-weight: 700;
    color: #131318;
}

circle {
    fill: none;
    stroke-width: 14px;
    stroke: #FF4240;
    stroke-dasharray: 326;
    stroke-dashoffset: 326;
    animation-name: circular_1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes circular_1 {
    to{
        stroke-dashoffset: 43; /* 87% */
    }
}

svg {
    /* border: 1px solid green; */
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}