*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: url(./images/responsive-cards-background-1.png);
    /* width: 100%; */
    /* background-size: cover; */
    background-color: #c7cdcb;
}

.main-container>h1{
    text-align: center;
    font-size: 3rem;
    padding: 25px 0px;
    color: #1e1e1e;
}
.cards-container{
    width: 1170px;
    margin: 0 auto;
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards-items{
    flex-basis: 23%;
    margin: 10px 0px;
    padding: 10px;
    background-color: white;
}
.cards-items>img{
    width: 100px;
}
.cards-items> h3 , p{
    padding: 10px 0px;
}