@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 90%;
    height: 90vh;
    background-color: rgb(70, 65, 74);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.main-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(224, 46, 46), rgb(232, 50, 232));
    clip-path: circle(45% at right 80%);
}
.main-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(48, 112, 223), rgb(92, 237, 67));
    clip-path: circle(35% at 10% 10%);
}
.card-container{
    position: relative;
    perspective: 1000px;
    z-index: 1;
}
.card-container .card{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 20px 20px 50px -5px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    z-index: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: all 600ms ease-out;
}
/* css code for tilting effect */
.tilt-space{
	width: 33.333%;
	height: 33.333%;
	position: absolute;
	z-index: 2;
}
.tilt-space:nth-child(1){ left: 0; top: 0; }
.tilt-space:nth-child(2){ left: 33.333%; top: 0; }
.tilt-space:nth-child(3){ left: 66.666%; top: 0; }
.tilt-space:nth-child(4){ left: 0%; top: 33.333%; }
.tilt-space:nth-child(5){ left: 33.333%; top: 33.333%; }
.tilt-space:nth-child(6){ left: 66.666%; top: 33.333%; }
.tilt-space:nth-child(7){ left: 0%; top: 66.666%; }
.tilt-space:nth-child(8){ left: 33.333%; top: 66.666%; }
.tilt-space:nth-child(9){ left: 66.666%; top: 66.666%; }

.tilt-space:nth-child(1):hover ~ .card{
    transform: rotateX(-20deg) rotateY(20deg);
}
.tilt-space:nth-child(2):hover ~ .card{
    transform: rotateX(-20deg) rotateY(0deg);
}
.tilt-space:nth-child(3):hover ~ .card{
    transform: rotateX(-20deg) rotateY(-20deg);
}
.tilt-space:nth-child(4):hover ~ .card{
    transform: rotateX(0deg) rotateY(20deg);
}
.tilt-space:nth-child(5):hover ~ .card{
    transform: rotateX(0deg) rotateY(0deg);
}
.tilt-space:nth-child(6):hover ~ .card{
    transform: rotateX(0deg) rotateY(-20deg);
}
.tilt-space:nth-child(7):hover ~ .card{
    transform: rotateX(20deg) rotateY(20deg);
}
.tilt-space:nth-child(8):hover ~ .card{
    transform: rotateX(20deg) rotateY(0deg);
}
.tilt-space:nth-child(9):hover ~ .card{
    transform: rotateX(20deg) rotateY(-20deg);
}

/* tilt effect code ends here */

.card-container .card .content{
    text-align: center;
    color: #f0f0f0;
    padding: 1.25rem;
    transform: translateY(100px);
    opacity: 0;
    transition: all 600ms ease-out;
}
.card-container .tilt-space:hover ~ .card .content{
    opacity: 1;
    transform: translateY(0px);
}
.card-container .card .content h2{
    position: absolute;
    top: -30px;
    right: 20px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.15);
    pointer-events: none;
}
.card-container .card .content h3{
    font-size: 2rem;
    margin-bottom: 0.25rem;
    z-index: 1;
}
.card-container .card .content p{
    font-size: 1rem;
    font-weight: 300;
}
.card-container .card .content a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    display: inline-block;
    margin-top: 1.25rem;
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.3);
    margin-inline: auto;
}
.card-container .card .content a:hover{
    background-color: #fff;
}